.singleFood {
  width: 100%;
  height: 100vh;
  padding: 1rem 3rem;
  .singleFood__wrapper {
    width: 100%;
    height: 100%;
    display: flex;
    .left {
      width: 50%;
      height: 100%;
      .title {
        width: 100%;
        font-size: 16px;
        font-weight: 600;
        margin-bottom: 3rem;
      }
      .img {
        width: 100%;
        height: 500px;
        border: none;
        img {
          width: 100%;
          height: 100%;
          object-fit: cover;
          border: 5px solid #f9ca24;
          border-radius: 10px;
        }
      }
    }
    .right {
      padding: 1rem 2rem;
      width: 50%;
      height: 100%;
      .button {
        margin-bottom: 30px;
        .instructions {
          width: 120px;
          padding: 0.8rem;
          margin-right: 20px;
          background: transparent;
          border: 1px solid black;
          font-size: 16px;
          cursor: pointer;
          &.active {
            background-color: #535c68;
            color: #fff;
          }
        }
        .ingredients {
          width: 120px;
          padding: 0.8rem;
          background: transparent;
          border: 1px solid black;
          font-size: 16px;
          cursor: pointer;
          &.active {
            background-color: #535c68;
            color: #fff;
          }
        }
      }
      .desc {
        p {
          font-size: 18px;
          line-height: 30px;
          font-weight: 500;
        }
      }
    }
  }
}
